<!doctype html>
<html lang="no">
<head>
  <meta charset="utf8">
  <title>JavaScript - Mesaninen 2014</title>
  <link rel="stylesheet" href="../revealjs/css/reveal.min.css" />
  <link rel="stylesheet" href="../revealjs/css/theme/simple.css" id="theme" />
  <link rel="stylesheet" href="../highlight/styles/default.css" />
  <link rel="stylesheet" href="css/styles.css" />
</head>
<html><body>
  <div class="reveal">
    <div class="slides">

      <section class="stack">
        <section>
          <h1><i class="fa fa-send"></i><br />JavaScript</h1>
          <h4>Mesaninen 2014</h4>
          <p>Arild Tvergrov &amp; Mikkel Steine</p>
        </section>

        <section>
          <h2>Program</h2>
          <ol>
            <li>Hvorfor JavaScript?</li>
            <li>Historikk</li>
            <li>Bruksområder</li>
            <li>Språket JavaScript</li>
            <li>Fremtiden</li>
            <li>Rammeverk</li>
            <li>Bygging</li>
            <li>Testing</li>
            <li>Lære mer...</li>
          </ol>
        </section>
      </section>

      <section class="stack" data-background="#ffe0d0">
        <section>
          <h1><i class="fa fa-thumbs-o-up"></i><br>Hvorfor JavaScript?</h1>
          <p>Alle bruker det.</p>
        </section>

        <section>
          <h2>Suksesshistorier</h2>
          <ul>
            <li>Norman Antivirus</li>
            <li>KISS</li>
          </ul>
        </section>
      </section>

      <section class="stack" data-background="#eee">
        <section data-background="#ccc">
          <h1><i class="fa fa-history"></i><br />Historikk</h1>
        </section>
        <section>
          <h2>JavaScript blir til...</h2>
          <ul>
            <li>1996 mar: Introdusert i Netscape Navigator 2.0, laget for å slippe lange rundturer til server.</li>
            <li>1997 okt: Dynamisk HTML kom i IE4.</li>
            <li>1999/2000: DOM kom med IE5, NS6 og Opera.</li>
            <li>1999 des: Standarden <em>ECMAScript</em>, utgv. 3.</li>
          </ul>
        </section>

        <section>
          <h2>Treg utvikling...</h2>
          <ul>
            <li>2000-tallet: JS-motorene henger ikke med i svingene</li>
            <li>IE6 legger hemsko på utviklerne</li>
            <li>Intrepretert språk - tregt</li>
          </ul>
        </section>

        <section>
          <h2>Renessanse</h2>
          <ul>
            <li>2008: Google Chrome med V8: JS-motor med JIT-compiler</li>
            <li>Andre fulgte etter:<ul>
              <li>Safari 4: SquirrelFish Extreme</li>
              <li>FireFox 3.5: TraceMonkey</li>
              <li>IE 9: Chakra</li>
            </ul></li>
            <li>JavaScript fikk et skikkelig ytelsesløft!</li>
          </ul>
        </section>

        <section>
          <h2>Implementér!</h2>
          <ul>
            <li>Det offisielle navnet på standarden er ECMAScript</li>
            <li>Siste versjon er 1.8.5</li>
            <li>Mange forskjellige implementasjoner av ES
              <ul>
                <li>JavaScript 1.8.5 (ES5+, Firefox)</li>
                <li>JScript 9.0 (ES5, Microsoft)</li>
                <li>Nashorn 1.8.0 (ES5.1, Java/Oracle)</li>
                <li>ActionScript (ES3, Flash og Flex)</li>
                <li>QtScript (ES3, Qt)</li>
                <li>ExtendScript (ES3, Adobe CS)</li>
                <li>... og mange flere</li>
              </ul>
            </li>
            <li>Alle implementasjoner har særegenheter i forhold til standarden.</li>
          </ul>
        </section>
      </section>

      <section class="stack">
        <section>
          <h1><i class="fa fa-puzzle-piece"></i><br>Bruksområder</h2>
        </section>
        <section>
          <h2>Mange muligheter!</h2>
          <ul>
            <li>JavaScript ble opprinnelig laget for å redusere behov for lasting av HTML for små endringer.</li>
            <li>JS støttes av alle nettlesere, også mobil.</li>
            <li>Så og si alle web-sider bruker litt eller mye JS.</li>
            <li>Man kan bruke JS til å lage avansert grafikk:<ul>
              <li>Canvas (Fabric.js, Paper.js, etc.)</li>
              <li>SVG (Raphael.js, D3.js, etc.)</li>
              <li>WebGL (tree.js, GLGE, Canvas 3d JS, etc.)</li>
            </ul></li>
            <li>PhoneGap (krossplatform mobilapps)</li>
            <li>Windows 8-apps skrives i JS</li>
            <li>Node.js gjør det mulig å lage backend også i JS.</li>
          </ul>
        </section>
        <section>
          <h2>Ting du ikke(?) visste var mulig</h2>
          <ul>
            <li>Aksesser web-kamera og lag skype-klone!</li>
            <li>Koble deg til Arduino med node.js og seriellport-bibliotek.</li>
            <li>Bruk Microsofts Kinect SDK og kinect.js slik at man kan bruke Kinect i nettleseren.</li>
            <li>Lag 3D-spill i JS med WebGL.</li>
            <li>Kontroller 3D-spill med spillkontroller.</li>
            <li>Spill Flash-ting på din iPad med JS (Bikeshed).</li>
            <li>Lag krossplatform-apps med PhoneGap.</li>
            <li>Med Emscripten kan du kjøre f.eks. Python eller Ruby i nettleseren (repl.it).</li>
            <li>Krossplatform desktop-applikasjoner med app.js.</li>
            <li>Med node.js kan man lage en web-server i JS.</li>
          </ul>
        </section>
      </section>

      <section class="stack">
        <section>
          <h1><i class="fa fa-cubes"></i><br>Språket</h1>
        </section>
        <section>
          <h2>Grunnleggende</h2>
          <ul>
            <li>Imperativt og strukturert: if, while, for, etc. C-stil.</li>
            <li>Dynamisk: Type følger verdi, ikke variabel. "Alt" er objekter og kan utvides som man vil.</li>
            <li>Funksjonelt: Funksjoner er også objekter, og kan nøstes også.</li>
            <li>Prototype-basert: Bruker prototyper (altså gjenbruk av eksisterende objekt) i stedet for klasser og arv.</li>
          </ul>
        </section>
        <section>
          <pre><code data-trim contenteditable class="hljs javascript">var kurs = 5.67;
var f = function(x) { return x * kurs; };

function ytreFunksjon() {
  function indreFunksjon() {
    alert("Hei!");
  }
  indreFunksjon();
}
</code></pre>
        </section>

        <section>
          <h2>Prototyper</h2>
<pre><code data-trim contenteditable class="hljs javascript">function Ansatt(navn, tittel, fodt) {
  this.navn = navn;
  this.tittel = tittel;
  this.fodt = fodt;
}

var fred = new Ansatt("Fred Flintstone", "Caveman", 1970);
Ansatt.prototype.salary = null;
Ansatt.salary = 20000;
</code></pre>
        </section>
        <section>
          <h2>Datatyper</h2>
          <ul>
            <li>Svakt typet</li>
            <li>Operasjoner på typer i JS er ikke helt som man forventer</li>
            <li>Alt er objekter, så konvertering av type betyr oppretting av nytt objekt og konvertering av verdi</li>
            <li>Ikke opprett primitiver med <code>new</code>. Ting blir mer komplekst og tregere.
            <li>De forskjellige typene er: <code>String, Number, Boolean, Array, Object, Undefined, null</code></li>
            <li>Bruk typeof for å sjekke typen av verdien.</li>
          </ul>
          <pre><code data-trim contenteditable class="hljs javascript">
var x; // undefined
x = 10; // number
x = "Bøtteknott"; // string
x = typeof x; // "string"
          </code></pre>
        </section>
        <section>
          <h2>Number</h2>
          <ul>
            <li>Alle tall i JS representeres med denne typen.</li>
            <li>Integer finnes ikke!! Number implementeres med en double.</li>
            <li>Man kan skrive tall med eller uten desimaler: <code>34.00 == 34</code></li>
            <li>Man kan bruke vitenskapsnotasjon: <code>1e2 == 100; 1e-2 == 0.01</code></li>
            <li>Tall oppfører seg som en double i C/Java med de utfordringer det medfører.</li>
            <li>Bruk &lt; og &gt; i stedet for = og != når man sammenligner tall.</li>
            <li>Tall blir automatisk konvertert til og fra andre typer om man prøver å bruke dem.</li>
            <li>Om JS ikke klarer å konvertere en type til et tall så blir verdien <code>NaN</code> (Not a Number).</li>
            <li><code>Inifinity</code> og <code>-Infinity</code> er mulige verdier.</li>
          </ul>
        </section>
        <section>
          <pre><code data-trim contenteditable class="hljs javascript">
x = 10 + "5"; // ?
x = "5" + 10; // ?
x = "10" - 5; // ?
x = 5 + "e4"; // ?
x = "4r" - 3; // ?
x = parseInt("4r") - 3; // ?
x = parseInt("a3") - 3; // ?
x = 1.000001 + 1; // ?
x = 1.000001 - 1; // ?
0.1.toFixed(20); // "0.10000000000000000555"
x = 9999999999999999; // ?

function isNumeric(n) {
  return !isNaN(parseFloat(n)) &amp;&amp; isFinite(n)
}
          </code></pre>
        </section>
        <section>
          <h2>Boolean</h2>
          <p>(Falsy og thruthy)</p>
          <ul>
            <li>Følgende verdier er falsy: <code>false, 0, "", null, undefined, NaN</code></li>
            <li><strong><em>Alt</em> annet er truthy!</strong></li>
            <li>Bruk ===, !==, &gt;==, &lt;== i stedet for ==, !=, &gt;=, &lt;= til alle sjekker. == konverterer, === gjør det ikke.</li>
            <li>Man må ikke bruke new Boolean(), da denne alltid er true(thy).</li>
          </ul>
        </section>
        <section>
          <pre><code data-trim contenteditable class="hljs javascript">var c = (false == 0); // true
var d = (false == ""); // true
var e = (0 == ""); // true
var f = (null == false); // false
var g = (null == null); // true
var h = (undefined == undefined); // true
var i = (undefined == null); // true
var j = (NaN == null); // false
var k = (NaN == NaN); // false
var l = (false == 0); // true
var m = (false === 0); // false

var x = true - 1; // ?
x = new Boolean(false);
if (x) {
  // Kommer vi hit?
}
          </code></pre>
        </section>
        <section>
          <h2>String</h2>
          <ul>
            <li>Kan bruke både ' eller ", f.eks. om man har en streng med et av disse tegnene i seg, så kan man bruke det andre tegnet.</li>
            <li>"Backslash" (\) brukes for å escape et spesialtegn.</li>
            <li>Ikke bruk <code>new String</code>, som gir mange uheldig bieffekter. Lag vanlige strengprimitiver.</li>
            <li>En streng har masse attributter og funksjoner, f.eks. <code>"abc".length => 3</code> og <code>" abc ".trim() => "abc"</code></li>
          </ul>
          <pre><code data-trim contenteditable class="hljs javascript">
x = "abc";
x = x.substr(0,2); // "ab"
          </code></pre>
        </section>
        <section>
          <h2>Object</h2>
          <ul>
            <li>Alt bortsett fra primitivene i JS er objekter, også funksjoner.</li>
            <li>Man lager et objekt ganske enkelt med <code>var obj = { bedrift : "Mesan", adressse : "HI20" };</code></li>
            <li>Du legger enkelt til nye verdier med <code>obj.telefonnr = "22334455";</code></li>
            <li>Denne oppførselen er felles for alle objekter, selv om Array er litt spesiell...</li>
            <li>Å legge til en funksjon til et objekt er like enkelt som å legge til verdier.</li>
          </ul>
          <pre><code data-trim contenteditable class="hljs javascript">
var bedrift = { navn : "Mesan AS", adresse : "HI20", telefonnr : "22334455" };
bedrift.ring = function() { alert(this.telefonnr); }
          </code></pre>
        </section>
        <section>
          <h2>Array</h2>
          <ul>
            <li>Et spesielt objekt med litt anderledes aksessering; man bruker <code>[]</code> i stedet for .</li>
            <li><code>new Array(1,2,3) === [1,2,3]</code></li>
            <li>Alle elementene i en array kan ha forksjellige typer.</li>
            <li>Første element starter på 0, som i C/Java:<br><code>([1,2,3])[0] === 1</code></li>
            <li><code>typeof [1,2,3] == "object"</code></li>
          </ul>
        </section>
        <section>
          <h2>Undefined og null</h2>
          <ul>
            <li>En variabel er undefined når den ikke har fått noen verdi.</li>
            <li>En variabel er null når man setter den til null.</li>
            <li>Disse to er altså ikke det samme, og en verdi som ikke er satt blir ikke automatisk null.</li>
          </ul>
        </section>

        <section>
          <h2>Scope (!)</h2>
          <ul>
            <li>Alle funksjoner har sitt eget scope, som betyr at alt som opprettes i scopet til en funksjon er bare tilgjengelig i det scopet.</li>
            <li>Det lokale scopet legges til en kø av scope helt ut til det globale scopet.</li>
            <li>To funksjoner som opprettes ved siden av hverandre har adskilte scopes.</li>
            <li>Variable man ikke oppretter med var foran blir endret om den finnes i scope-chain eller opprettet globalt (en del av <code>window</code>).</li>
            <li>Alle variable/funksjoner man kaller som ikke er en del av scopet må letes fram i scope-rekka.</li>
          </ul>
        </section>
        <section>
          <pre><code data-trim contenteditable class="hljs javascript">
function f() {
  x = 10; // window.x opprettes/oppdateres
  var y = 20; // opprettes i lokalt scope til f(), ikke tilgjengelig utenfra
  function visKoordinat() {
    var z = 30;
    alert("hei " + x + "," + y + "," + z);
  }
  z = 40; // Ser ikke z, oppretter en global z
  visKoordinat();
}

function f2() {
  y = 30; // Ser ikke y, oppretter y globalt
  x = 25; // endrer global x
}
          </code></pre>
        </section>
        <section>
          <h2>Hoisting</h2>
          <ul>
            <li>Oppretting av alle variable blir flyttet til toppen av scopet. Setting av verdi forblir der de er.</li>
            <li>Vær obs på bruk av variable med samme navn og når de blir satt og brukt.</li>
            <li>Legg alle variable i toppen av alle funksjoner, alltid. Git litt bedre ytelse også.</li>
          </ul>
          <pre><code data-trim contenteditable class="hljs javascript">var global_i;

(function() {
  var x = 20,y,z; // Initisering
  for (;x--;) {
    global_i = x; // vi prøver å sette global variabel...
    alert("Plagsom! " + i);
  }
  var global_i = 0; // Ha! global_i er ikke global likevel.
})();
          </code></pre>
        </section>
        <section>
          <h2>Math</h2>
          <ul>
            <li><code>Math</code> inneholder de vanligste mattefunksjonene og noen predefinerte konstanter.</li>
            <li>Tall kan skrives på forskjellige formater: <code>10 == 0x10 == 012</code>, men man har ikke tilsvarende for binære tall (må bruke streng og <code>parseInt("1010",2)</code>).</li>
            <li>Også bit-mønster-operatorer er effektive: &amp;, |, ~, ^, &lt;&lt; og &gt;&gt;</li>
          </ul>
          <br><br>
          <h2>Date</h2>
          <ul>
            <li>I <code>Date</code>-objektet finner man mange nyttige funksjoner for dato og tid.</li>
            <li>Man kan sammenligne to <code>Date</code>-objekter.</li>
          </ul>
          <br><br>
          <em><code>Math</code> og <code>Date</code> er implementert i C++. Ikke prøv å erstatte noen av funksjonene i disse med egen JS-kode.</em>
        </section>
        <section>
          <h2>RegExp</h2>
          <ul>
            <li>Man kan lage <code>RegExp</code>-objekter med new, men det er ikke nødvendig. Bruk heller <i>/mønster/modifikatorer</i></li>
            <li>Bruker du samme mønster mange ganger, kan du lagre den i en variabel og bruke f.eks. exec på den.</li>
          </ul>
          <pre><code data-trim contenteditable class="hljs javascript">
var pattern = /^[A-Z]$/i;
var res = str.replace(/(gutt|jente)/i, "menneskebarn");
var t = /du/i.exec("Du er der."); // 'Du'
if (str.match(pattern).length > 0) { /* strengen matcher mønsteret */ }
          </code></pre>
        </section>
        <section>
          <h2>DOM</h2>
          <ul>
            <li>Document Object Model holder alle elementene i en webside i et tre i minnet.</li>
            <li>Du har direkte tilgang til denne med <code>document</code>.</li>
            <li>Med <code>document.getElementById("minId")</code>, <code>getElementsByClassName</code> eller <code>getElementsByName</code> kan man finne elementer i DOM.</li>
            <li>Traversering av DOM er kostbart og bør gjøres med forsiktighet. Mellomlagre ting du vil bruke mer enn en gang.</li>
          </ul>
        </section>
        <section>
          <h2>Hendelser</h2>
          <ul>
            <li>Hendelser ("events") håndteres ved at man setter opp callback-funksjoner knyttet til et element og en hendelse.</li>
            <li>Den måten folk flest begynner å sette opp eventer på er å legge de til i HTML. F.eks. <code>&lt;a href="#" onclick="doSomething()"&gt;</code> </li>
            <li>En ryddigere måte er å bruke <code>element.addEventListener("click", function(){ ... })</code> direkte på DOM-objektet.</li>
            <li>IE er selvfølgelig vanskelig og der heter funksjonen i v8 og eldre <code>attachEvent</code>.</li>
            <li>Man kan legge til event-lyttere til alle DOM-objekter, også <code>window</code> og man kan legge til flere til hvert element.</li>
            <li>Man kan også fjerne og fyre av eventer (dispatchEvent og removeEventListener).</li>
          </ul>
        </section>
        <section>
          <pre><code data-trim contenteditable class="hljs javascript">
var useCapture = false; // Indre element håndteres først, true gjør motsatt
var myFunction = function(event) {
  var element = this; // elementet du klikket på
  var faktiskElement = event.currentTarget;
}, useCapture);

var x = document.getElementById("myBtn");
if (x.addEventListener) { // Alle nettlesere bortsett fra IE8 og eldre
    x.addEventListener("click", myFunction, useCapture);
} else if (x.attachEvent) { // IE8 og eldre
    x.attachEvent("onclick", myFunction, useCapture);
}

x.removeEventListener("click", myFunction);
          </code></pre>
        </section>
        <section>
          <h2>Globale funksjoner</h2>
          <ul>
            <li>JavaScript har noen få støttefunksjoner. Et par av dem er verdt å nevne:</li>
            <li><code>eval()</code> er en funksjon som tar input gjennom JS-parseren og kjører innholdet. eval is evil!</li>
            <li><code>encodeURI()</code>, <code>decodeURI()</code> brukes får å sikre at en URL er godkjent og at alle spesialtegn er håndtert. Rører ikke spesialtegn som er en del av fullverdig URL.</li>
            <li><code>encodeURIComponent()</code>, <code>decodeURIComponent()</code> gjør tilsvarende, men erstatter også alle tegn i en gyldig URL.</li>
            <li><code>parseInt()</code> og <code>parserFloat()</code> gjør akkurat det, men trengs aldri i praksis. <code>parseInt</code> har en bonus ved at den med ekstra parameter kan gi tallene i hex eller andre tallsystemer.</li>
          </ul>
        </section>
      </section>


      <section class="stack" data-background="#84fcff">
        <section class="text-white" data-background="#0F1923">
          <h1 class="hidden">jQuery</h1>
          <img src="jquery-logo.png" alt="jQuery-logo" class="no-border" style="width: 50%" />
        </section>

        <section>
          <h2>Enklere hverdag</h2>
          <ul>
            <li>Skjuler forskjeller mellom implementasjoner. "Alle" bruker det.</li>
            <li>Hovedbruksområder:<ul>
              <li>Henting/manipulering av elementer</li>
              <li>Hendelser</li>
              <li>Animasjoner</li>
              <li>AJAX</li>
            </ul>
            <li>"Unobtrusive", endrer ikke oppførsel til eksisterende JS.</li>
            <li><code>$()</code> eller <code>jQuery()</code> er utgangspunktet for all jQuery-kode</li>
            <li>Generell fremgangsmåte: Finn objekter og manipuler/les/skriv.</li>
            <li>Kan hekte på en lang rekke kall som gjør koden mer kompakt.</li>
          </ul>
        </section>
        <section>
          <pre><code data-trim contenteditable class="hljs javascript">(function() {
  function showLink() { var aObj = $(this); /* ... */ }
  function hideLink() { /* ... */ }
  function followLink() { /* ... */ }

  $("a").
    filter(".external").
      css("color", "#200040").
      delegate("mouseover", showLink).
      delegate("mouseout"), hideLink).
      delegate("click", followLink).
    end().
    filter(".internal").
      css("color", "#505020");
})();
          </code></pre>
        </section>
        <section>
          <h2>Selectors</h2>
          <ul>
            <li>Programmerervennlig måte å finne elementer i DOM: <code>$(".knapp")</code></li>
            <li>Bygger på CSS-selectors: <code>.class, #id, div</code></li>
            <li>Mer avansert utvalg med f.eks.: <code>:first, :last, :gt(), :lt(), :even, :odd</code></li>
            <li>Velg elementer basert på innhold: <code>:containts(), :has(), :empty()</code></li>
            <li>Velg elementer basert på verdi/attributter: <code>[navn="verdi"]</code></li>
            <li>+++</li>
            <li>Resultatet er et objekt som inneholder en Array med DOM-elementer, en jQuery-samling.</li>
          </ul>
        </section>
        <section>
          <h2>Manipulering</h2>
          <ul>
            <li>jQuery har endel nyttige funksjoner for manipulering av DOM-elementer.</li>
            <li><code>.wrap()</code> m.fl. legger til element <i>rundt</i> elementet man angir.</li>
            <li><code>.html(), .append(), .prepend()</code> m.fl. endrer innholdet i et element.</li>
            <li><code>.after(), .before()</code> legger til elementer utenfor gjeldende element.</li>
            <li>Man kan bruke <code>.detach()</code> for å jobbe med ting utenom DOM.</li>
          </ul>
        </section>
        <section>
          <h2>Hendelser</h2>
          <ul>
            <li>"Events" er enklere i jQuery, og forskjeller mellom nettlesere skjules bak enkle funksjoner.</li>
            <li><code>$(document).ready()</code> kalles når HTML er ferdig lastet, men man trenger ikke bruke denne.</li>
            <li><code>.click()</code> og en rekke andre events kan settes på en jQuery-samling.</li>
            <li>Event-objektet som sendes med er samme objekt som man er vant med fra vanilla js og inneholder mange nyttige ting.</li>
            <li>Bruk <code>.delegate()</code> for all hendelseshåndtering! Asynkront, ryddig og effektivt.</li>
          </ul>
        </section>
        <section>
          <h2>Animasjoner</h2>
          <ul>
            <li>Med <code>.animate()</code> så kan man lage mye fancy.</li>
            <li>Hovedlinjene er at man kan gi en CSS-stil som animasjonen skal bevege seg mot, og styre hastighet og mye annet.</li>
            <li>Enkle animasjoner som gradvis visning kan gjøres med <code>.hide(), .show(), .toggle(), .fadeIn(), .fadeOut()</code> osv.</li>
          </ul>
        </section>
        <section>
          <h2>AJAX</h2>
          <ul>
            <li>Man kan bruke funksjonen <code>$.ajax()</code> eller kortversjonene <code>$.get()</code> og <code>$.post()</code></li>
            <li>Resultatet håndterer man med en callback-funksjon.</li>
            <li>Med <code>.load()</code> kan man hente resultatet av AJAX-kallet rett inn i et element.</li>
            <li>Du har mange muligheter for spesialisering i parametere til <code>$.ajax()</code>.</li>
          </ul>
        </section>
        <section>
          <pre><code data-trim contenteditable class="hljs javascript">
$.get("some/url.php?data", function(data) {
  // Bruk data til noe
});

$.ajax({
  url: "some/url.php",
  data: "parameter=on",
  success: function(data) {
    // Bruk data til noe
  },
  dataType: "html" // xml, json, script, etc.
});

$.getJSON("some/url.json", function(jsondata) {
  // Her kan du bruke jsondata direkte
  var antall = jsondata.brukerListe.length;
});
          </code></pre>
        </section>
      </section>

      <section class="stack" data-background="#c0d0ff">
        <section>
          <h1><i class="fa fa-dashboard"></i><br>Ytelse</h1>
        </section>

        <section>
          <h2>Flaskehalser</h2>
          <ul>
            <li>Lasting og kjøring</li>
            <li>Variable og data</li>
            <li>DOM</li>
            <li>Løkker og rekursjon</li>
            <li>UI-tråden</li>
            <li>Kodepraksis</li>
          </ul>
        </section>

        <section>
          <h2>Lasting og kjøring av JavaScript</h2>
          <ul>
            <li>Nettlesere venter mens JS laster, evalueres, kjører.</li>
            <li>Hver <code>&lt;script&gt;</code>-tag blir kjørt før resten av HTML+CSS lastes.</li>
            <li>Putt alle <code>&lt;script&gt;</code>tags i bunn av <code>&lt;body&gt;</code> og dropp <code>onready()</code>.</li>
            <li>Ikke bruk inline JS</li>
            <li>Komprimer, merge og last JS-filer dynamisk med en loader.</li>
            <li>Fjern kode som ikke brukes (utkommentert kode fjernes av komprimeringsprogrammer).</li>
          </ul>
        </section>
<!--        <section>
          <pre><code data-trim contenteditable class="hljs html">&lt;html&gt;
&lt;head&gt;
&lt;script src=“stopper_lasting_av_siden.js” /&gt;
&lt;link href=“style.css”&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;h1&gt;Mesan&lt;/h1&gt;
...
&lt;script src=“kjoerer_etter_lasting.js”/&gt;
&lt;/body&gt;
&lt;/html&gt;         
          </code></pre>
        </section>-->

        <section>
          <h2>Variable og data</h2>
          <ul>
            <li>Scope chain gjør at man må passe på hva man bruker. Traversering i scope chain er veldig kostbart.</li>
            <li>Lag lokale kopier av yttre variable.</li>
            <li>Unngå gjentatte kall til globale variable som <code>window</code> og <code>location.href</code>.</li>
            <li>Lokale scope er alltid veldig kjapt, og blir alltid sjekket først.</li>
          </ul>
        </section>

        <section>
          <h2>DOM</h2>
          <ul>
            <li>Å aksessere DOM er veldig kostbart, gjør det så sjelden som mulig og ikke i løkker!</li>
            <li>Endringer i DOM gir reflow <strong>hver gang</strong>.<ul>
              <li>Ved mange forandringer på DOM-objekter kan man skjule-endre-vise for å redusere “reflow”.</li>
              <li>Bruk låst layout (CSS) der du kan for å redusere omfang av “reflow”.</li>
            </ul></li>
            <li>Mange events er kostbart (lasting/minne/prosesseringstid). Bruk event-deligering i stedet for click-event.</li>
            <li>Ved store lister kan man bruke <code>cloneNode</code> for å bygge disse utenfor DOM først.</li>
            <li>Lagre jQuery-søk på elementer om du bruker dem flere ganger.</li>
          </ul>
        </section>
        <section>
          <pre><code data-trim contenteditable calss="hljs javascript">(function(){
  var div = document.createElement(“div”),
      hundegaard = $(“#hundegaard”);

  function luftHunder(hunder) {
    var flokk = div.cloneNode();
    var hund = div.cloneNode();
    hund.className = “hund”;
    var i = hunder.length;
    for (;i--;) {
        var enhund = hund.cloneNode(true);
        endhund.innerHMTL = hunder[i].navn;
        flokk.appendChild(enhund);
    }
    hundegaard.html(flokk);
  }

  hentData(luftHunder);
})();
          </code></pre>
        </section>

        <section>
          <h2>Løkker og rekursjon</h2>
          <ul>
            <li>Man får liten hjelp om man skriver ineffektiv kode.</li>
            <li>Jo mer som gjøres inne i løkker, jo tregere blir det.</li>
            <li><code>for-in</code>-løkker og <code>$.each</code> er kjekt, men tregt.</li>
            <li>Rekursjon er risikabelt og tungt.</li>
            <li>En statisk <code>Array</code> er betydelig raskere enn <code>switch</code> eller <code>if-then-else</code>.</li>
            <li>Hold mest mulig av arbeidet utenfor løkkene.</li>
          </ul>
        </section>

        <section>
          <h2>UI-tråden</h2>
          <ul>
            <li>En seriell kø for alle UI-endringer. Pauser både UI og JS.</li>
            <li>Eksekvering av JavaScript gjør at UI-køen settes på vent. Det “henger!”</li>
            <li>Henting av data ved lasting av web-siden hindrer resten av lastingen.<ul>
              <li>Bruk setTimeout for å utsette lasting av tunge lister etc.</li>
              <li>Lasting av data kan splittes opp. (Last f.eks. neste side i bakgrunnen.)</li>
            </ul></li>
            <li>Nettlesere har ofte en “time-out” om eksekvering av JS ikke fullfører innen en viss tid.</li>
            <li>La initiell JS-kode være så minimal som mulig. Bruk <code>setTimeout</code> på resten, eller kjør den når brukeren gjør noe (events).</li>
          </ul>
        </section>
        <section>
          <pre><code>function gjorFlereTungeTingMedObjekt(objekt) {
  // Liste med funksjons-referanser
  var oppgaver = [oppgave1, oppgave2, oppgave3];

  setTimeout(function() {
    // Neste oppgave:
    var oppgave = oppgaver.shift();
    oppgave(objekt);
    // Se etter flere oppgaver:
    if (oppgaver.length > 0) {
     setTimeout(arguments.callee, 25);
    }
  },25);
}
</code></pre>
        </section>

        <section>
          <h2>Kodepraksis</h2>
          <ul>
            <li>eval() is evil – og veldig tregt. Bruk en funksjon som parameter til setTimeout/setInterval i stedet for streng.</li>
            <li>Løpende oppretting av objekt eller liste er tregt. Opprett objekter og lister i én operasjon hvor mulig.</li>
            <li>Cache så mye som mulig.</li>
            <li>Bruk Math og bit-operatorer. Ikke lag egen matte-kode!</li>
            <li>Ikke gi JS-motoren mer jobb enn nødvendig: Skriv korrekt kode! Bruk jshint el.</li>
            <li>Bruk CSS der CSS kan erstatte JS.</li>
            <li>Ikke forsøple globalt namespace (<code>window</code>).</li>
            <li>Pakk koden.</li>
            <li>Bruk nettleserens inspector og sjekk profilering og nettverkstrafikk.</li>
          </ul>
        </section>
      </section>


      <section class="stack">
        <section data-background="#47A4DE" class="text-white">
          <h1><i class="fa fa-space-shuttle"></i><br />Fremtiden</h1>
        </section>

        <section>
          <h2>EcmaScript 6<br />(&laquo;ES.next&raquo;)</h2>
        </section>

        <section>
          <h2>Når kommer ES6?</h2>
          <p>Ratifiseres i desember 2014.</p>
          <p>Implementeres fortløpende i moderne nettlesere.</p>
        </section>

        <section>
          <h2>Hva blir (er?) nytt?</h2>
          <ul>
            <li>Block Scope</li>
            <li>Klasser</li>
            <li>Arrows</li>
            <li>Promises</li>
            <li>Moduler</li>
            <li>Generators</li>
            <li>++</li>
          </ul>
        </section>

        <section>
          <h2>Block Scope</h2>
          ES5 har global og function scope, men ikke block scope:<br />
<pre><code data-trim class="hljs javascript">if (true) {
  var a = 'abc';
}

a; // &lt;= 'abc'
</code></pre>
        </section>

        <section>
          <h2>Block Scope</h2>
          ES6 har block scope med nøkkelordet <code>let</code>:<br />
<pre><code data-trim class="hljs javascript">if (true) {
  var a = 'abc';
  let b = 'def';
}

a; // &lt;= 'abc'
b; // &lt;= undefined
</code></pre>
        </section>

        <section>
          <h2>Klasser</h2>
          ES5:<br />
<pre><code data-trim class="hljs javascript">function Vehicle(owner) {
  this.owner = owner;
}

Vehicle.prototype.printOwner = function () {
  console.log('The owner of this vehicle is ' + this.owner);
};

var myVehicle = new Vehicle('Arild');
</code></pre>
        </section>

        <section>
          <h2>Klasser</h2>
          ES6:<br />
<pre><code data-trim class="hljs javascript">class Vehicle {
  constructor(owner) {
    this.owner = owner;
  }

  get owner() {
    return this.owner;
  }

  printOwner() {
    console.log('The owner of this vehicle is ' + this.owner);
  }
}

let myVehicle = new Vehicle('Arild');
</code></pre>
        </section>

        <section>
          <h2>Klasser</h2>
          ES6 støtter også arv:<br />
<pre><code data-trim class="hljs javascript">class Vehicle {
  constructor(owner, canFly) {
    this.owner = owner;
    this.canFly = canFly;
  }

  printOwner() { /* ... */ }
}

class Plane extends Vehicle {
  constructor(owner) {
    super(owner, true);
  }
}

let myPlane = new Plane('Arild');
myPlane.canFly; // <= true
</code></pre>
        </section>

        <section>
          <h2>Arrows</h2>
          Hva ES6 løser:<br />
<pre><code data-trim class="hljs javascript">var nr = [0, 1, 2];

var squareNr = nr.map(function (x) {
  return x * x;
});

console.log(squareNr);
</code></pre>
        </section>

        <section>
          <h2>Arrows</h2>
          ES6 løser det slik:<br />
<pre><code data-trim class="hljs javascript">let nr = [0, 1, 2];

let squareNr = nr.map(x => x * x);
</code></pre>
        </section>

        <section>
          <h2>Promises</h2>
          <p>ES5: Callbacks From Hell</p>
<pre><code data-trim class="hljs javascript">doThis(function () {
  doThat(function () {
    pleaseDoThisToo(function () {
      andEventuallyDoThisAsWell(function () {
        ohAndAlmostForgot(function () {
          console.log('Done!');
        });
      });
    });
  });
});
</code></pre>
          <p>Tredjepartsbiblioteker gir god Promise-støtte i ES5:<br />
            Q.js, jQuery, RSVP.js, ++</p>
        </section>

        <section>
          <h2>Promises</h2>
          <p>ES6: Innebygd støtte for promises</p>
        </section>

        <section>
          <h2>Promises</h2>
          <h3><code>Promise.all()</code></h3>
<pre><code data-trim class="hljs javascript">let p1 = new Promise((resolve, reject) =>
  setTimeout(resolve, 300, 'done!'));

let p2 = new Promise((resolve, reject) =>
  setTimeout(resolve, 400, 'meToo!'));

Promise.all([p1, p2]).then((value) => console.log(value));
// &lt;= ['done!', 'meToo!']
</code></pre>
        </section>

        <section>
          <h2>Promises</h2>
          <h3><code>Promise.race()</code></h3>
<pre><code data-trim class="hljs javascript">let p1 = new Promise((resolve, reject) =>
  setTimeout(resolve, 400, 'rabbit'));

let p2 = new Promise((resolve, reject) =>
  setTimeout(resolve, 200, 'turtle'));

Promise.race([p1, p2]).then((value) => console.log(value)); // &lt;= 'turtle'
</code></pre>
        </section>

        <section>
          <h2>Generators</h2>
<pre><code data-trim class="hljs javascript">function *characters(name) {
  let i = 0;
  while (true) {
    if (i >= name.length) i = 0;
    yield name[i++];
  }
}

let chars = characters('Arild');

for (let i = 0; i < 10; i++) {
  console.log(chars.next().value);
}
</code></pre>

        </section>

        <section>
          <h2>++</h2>
          <p class="fragment">
            Standard-parametre:<br /><code>function (a, b=1, c=2) {}</code>
          </p>
          <p class="fragment">
            Rest-parametre:<br /><code>function format(str, ...args) {}</code>
          </p>
          <p class="fragment">
            Destructured Assignment:<br /><code>let [one, two] = [1, 2];</code>
          </p>
          <p class="fragment">
            Template Strings:<br /><code>`Hello ${name}, how are you ${time}?`</code>
          </p>
          <p class="fragment">
            <code>For-of</code>-løkker:<br /><code>for (let nr of [1, 2, 3]) {}</code>
          </p>

        </section>

      </section>

      <section class="stack">
        <section data-background="#52C77F" class="text-white">
          <h1><i class="fa fa-cogs"></i><br />Rammeverk</h1>
        </section>

        <section data-background="tagcloud.png" data-background-transition="zoom">
        </section>

        <section>
          <h2>Hva er <strong>formålet</strong> med rammeverk i JavaScript?</h2>
          <ul>
            <li class="fragment">
              DOM-manipulering <span class="text-muted">(jQuery, React)</span>
            </li>
            <li class="fragment">
              GUI-relatert <span class="text-muted">(jQueryUI, Webix)</span>
            </li>
            <li class="fragment">
              Visualisering <span class="text-muted">(D3.js, Raphaël, EaselJS)</span>
            </li>
            <li class="fragment">
              Hjelpere <span class="text-muted">(Underscore.js, jQuery)</span>
            </li>
            <li class="fragment">
              Webapplikasjoner
              <span class="text-muted">(AngularJS, Knockout, Ember.js)</span>
            </li>
            <li class="fragment">
              Templates <span class="text-muted">(Handlebars)</span>
            </li>
            <li class="fragment">
              Testing <span class="text-muted">(Jasmine, QUnit)</span>
            </li>
            <li class="fragment">
              Bygging og automatisering <span class="text-muted">(Grunt, gulp.js)</span>
            </li>
          </ul>
        </section>

        <section>
          <h1><i class="fa fa-search"></i></h1>
          <p>
            Vi ser nærmere på <strong>AngularJS</strong>,
            <strong>Knockout</strong>,
            <strong>Jasmine</strong> og
            <strong>Grunt</strong>.</p>
        </section>

      </section>

      <section class="stack">

        <section data-background="#E1F0C9">
          <h2 class="hidden">AngularJS</h2>
          <img src="angularjs.png" alt="AngularJS-logo" class="no-border" style="width: 30%" />
          <blockquote class="fragment current-visible">
            Superheroic JavaScript MVW Framework
          </blockquote>
          <blockquote class="fragment">
            Angular is what HTML would have been had it been designed for building web
            applications.
          </blockquote>
        </section>

        <section>
          <h2><i class="fa fa-bar-chart-o"></i> Hvor mange bruker AngularJS?</h2>
          <img src="angularjs-usage.png" alt="AngularJS-trender" class="no-border" style="width:
          60%" />
          <p><small>Kilde: <a href="https://trends.builtwith.com/javascript/Angular-JS">BuiltWith.com</a></small></p>
        </section>

        <section>
          <h2><i class="fa fa-shopping-cart"></i> Hva tilbyr AngularJS?</h2>
          <ul>
            <li>Frikobling av forretningslogikk fra DOM-en.</li>
            <li>Dependency Injection (DI) / Inversion of Control (IoC).</li>
            <li>Enklere testing.</li>
            <li>Modularisering av kode.</li>
            <li>... og mye mer.</li>
          </ul>
        </section>

        <section>
          <h2><i class="fa fa-warning"></i> Nettleserstøtte</h2>
          <ul>
            <li>Alle moderne nettlesere.</li>
            <li>AngularJS v1.2 støtter IE8+.</li>
            <li>AngularJS v1.3 støtter IE9+.</li>
          </ul>
        </section>

        <section>
          <h2><i class="fa fa-file-code-o"></i> Hello World-eksempel</h2>
          <p>Hva skal egentlig til ...?</p>
<pre class="fragment"><code>&lt;!DOCTYPE html&gt;
&lt;html <strong>ng-app</strong>&gt;
  &lt;head&gt;
    <strong>&lt;script src=&quot;angular.js&quot;&gt;&lt;/script&gt;</strong>
  &lt;/head&gt;
  &lt;body&gt;
    &lt;input type=&quot;text&quot; <strong>ng-model=&quot;name&quot; /&gt;</strong>
    &lt;p&gt;What's up, <strong>{{name}}</strong>?&lt;/p&gt;
  &lt;/body&gt;
&lt;/html&gt;
</code></pre>
        </section>

        <section>
          <h2><i class="fa fa-file-code-o"></i> Hello World-eksempel</h2>
          <p>Resultat:</p>
          <div ng-app>
            <input type="text" ng-model="name" />
            <p>What's up, {{name}}?</p>
          </div>
        </section>

        <section>
          <h2><i class="fa fa-cubes"></i> AngularJS-komponenter</h2>
          <ul>
            <li>Template</li>
            <li>Directive</li>
            <li>Module</li>
            <li>Controller</li>
            <li>Scope</li>
            <li>Service</li>
          </ul>
        </section>

        <section>
          <h2><i class="fa fa-cube"></i> Template</h2>
          <h3>
            HTML-kode med støtte for interpolering og direktiver.
          </h3>
        </section>

        <section>
          <h2>Eksempel</h2>

          <div>
            <p>Vi lager et avsnitt:</p>
            <pre><code>&lt;p&gt;Jeg er 28 år.&lt;/p&gt;</code></pre>
          </div>

          <div class="fragment">
            <p>... og interpolerer en variabel:</p>
            <pre><code>&lt;p&gt;Jeg er {{age}} år.&lt;/p&gt;</code></pre>
          </div>
        </section>

        <section>
          <h2><i class="fa fa-cube"></i> Directive</h2>
          <h3>
            Utvider HTML med attributter og elementer.
          </h3>
        </section>

        <section>
          <h2>Eksempel</h2>

          <p>Angular har et innebygd direktiv som heter <code>ngRepeat</code>.</p>
          <p>Det lar oss iterere over lister i HTML:</p>
          <pre><code>&lt;ul&gt;
  &lt;li ng-repeat="item in items"&gt;
    {{item}}
  &lt;/li&gt;</code></pre>
          <p>I dette tilfellet er <code>items</code> en variabel.</p>

        </section>

        <section>
          <p>Direktiver kan være tagger, klasser eller attributter.</p>
          <p>Du kan også enkelt lage dine egne direktiver.</p>
          <p>Oppgave kommer ...</p>
        </section>

        <section>
          <h2><i class="fa fa-cube"></i> Module</h2>
          <h3>
            Brukes for å gruppere komponentene dine inn i logiske deler.
          </h3>
        </section>

        <section>
          <h2>Eksempel på bruk av moduler</h2>
          <div class="fragment">
            <p>Vi deklarerer en modul:</p>
<pre><code>var mesanModule = angular.module('mesanModule', [
  // Module dependencies here...
  // 'jquery',
  // 'ui.router'
]);</code></pre>
          </div>
          <div class="fragment">
            <p>... og &laquo;putter&raquo; en controller oppi modulen vår:</p>
<pre><code>mesanModule.controller('AboutController', function () {
  // Controller code here...
});</code></pre>
          </div>
          <div class="fragment">
            <p>... og en service:</p>
<pre><code>mesanModule.service('employeeService', function () {
  // Service code here...
});
</code></pre>
          </div>
        </section>

        <section>
          <img src="angular-modules.png" alt="Angular-moduler" class="no-border" />
          <p><small>Illustrasjon: Modul med komponenter knyttet til seg.</small></p>
        </section>

        <section>
          <h2><i class="fa fa-cube"></i> Controller</h2>
          <h3>Megler mellom GUI-et og forretningslogikken.</h3>
        </section>

        <section>
          <p>Vi deklarerer en controller i en modul slik:</p>
<pre><code>module.controller('AboutController', function () {
  // Controller code here...
});
</code></pre>
        </section>

        <section>
          <h2><i class="fa fa-cube"></i> Scope</h2>
          <h3>Bindeleddet mellom GUI-et og controlleren.</h3>
        </section>

        <section>
            <p>Alle controllere har hvert sitt <em>scope</em>.</p>
            <p class="fragment">Alle <em>properties</em> knyttet til <em>scopet</em>, er
              tilgjengelige i GUI-et.</p>
            <p class="fragment">Hvor får vi tak i <em>scopet</em> til controlleren?
              <span class="fragment">
                Ved å legge til <code>$scope</code> som parameter til controlleren
                (<em><a href="http://en.wikipedia.org/wiki/Dependency_injection#Constructor_injection"
                        target="_blank">constructor injection</a></em>).</span>
            </p>
<pre class="fragment"><code>module.controller('MyController', function ($scope) {
  // $scope er her scopet til controlleren.
});
</code></pre>
        </section>

        <section>
          <h2>Eksempel på bruk av <code>$scope</code></h2>

          <div class="fragment">
            <p>Vi deklarerer en controller og legger til <code>name</code> til
              <em>scopet</em>:</p>
<pre><code>module.controller('AboutController', function ($scope) {
  $scope.name = 'Oddgeir';
});
</code></pre>
          </div>

          <div class="fragment">
            <p>Vi binder controlleren til en tag i HTML-en og interpolerer
              <code>name</code>-feltet vårt:</p>
<pre><code>&lt;div ng-controller="AboutController">My name is {{name}}&lt;/div></code></pre>
          </div>

          <div class="fragment">
            <p><strong><i class="fa fa-hand-o-up fa-warning"></i></strong>
              <em>ngController</em> er et Angular-direktiv.</p>
          </div>

        </section>

        <section>
          <h2>Nytt eksempel på bruk av <code>$scope</code></h2>
          <div class="fragment">
            <p>Vi deklarerer en controller, med <code>count</code> som
              inkrementerer hvert sekund (ved hjelp av Angular's <code>$timeout</code>
              service):</p>
<pre><code>module.controller('CountController', function ($scope, $timeout) {
  $scope.count = 0;
  $timeout(function () {
    $scope.count++;
  }, 1000);
});
</code></pre>
          </div>

          <div class="fragment">
            <p>Vi endrer HTML-en til å vise <code>count</code>-en vår:</p>
            <pre><code>&lt;div ng-controller="CountController">{{count}} seconds&lt;/div></code></pre>
          </div>

          <div class="fragment">
            <p><strong><i class="fa fa-hand-o-up fa-warning"></i></strong> HTML-en oppdateres
              automatisk når <code>count</code> endrer seg!</p>
          </div>
        </section>

        <section>
          <h2><i class="fa fa-cube"></i> Service</h2>
          <h3>Utfører forretningslogikken i applikasjonen. Brukes av controllere.</h3>
        </section>

        <section>
          <p><i class="fa fa-hand-o-up fa-warning"></i> Husk: Controllere sitt ansvar er å binde
            forretningslogikken og GUI-et sammen.</p>
          <p class="fragment">Hold derfor controllere enkle, og la servicer ta seg av den tyngre
            forretningslogikken.</p>
        </section>

        <section>
          <h2>Hvordan bruker vi servicer i en controller?</h2>
          <p class="fragment">Bruk Dependency Injection!</p>
          <div class="fragment">Først deklarerer vi servicen:
<pre><code>module.service('menuService', function () {
  this.getMenu = function (menuName) { /* Business logic here */ };
});</code></pre>
          </div>
          <div class="fragment">Deretter injiserer vi servicen i controlleren:
<pre><code>module.controller('MenuController', function ($scope, menuService) {
  $scope.mainMenu = menuService.getMenu('main');
});
</code></pre>
          </div>
        </section>

        <section data-background="assignments.jpg" data-background-transition="slide">
          <h2><i class="fa fa-pencil"></i> Oppgaver</h2>
        </section>

      </section>

      <section class="stack">

        <section data-background="#CF5300">
          <a target="_blank" href="http://knockoutjs.com/">
            <img src="ko-logo.png" alt="KnockoutJS logo" class="no-border" />
          </a>
          <blockquote class="fragment" style="color: #fff">
            Simplify dynamic JavaScript UIs with the Model-View-View Model (MVVM) pattern.
          </blockquote>
        </section>

        <section>
          <h2><i class="fa fa-bar-chart-o"></i> Hvor mange bruker Knockout?</h2>
          <img src="knockoutjs-usage.png" alt="Knockout-trender" class="no-border" style="width:
          60%" />
          <p><small>Kilde: <a href="https://trends.builtwith.com/javascript/KnockoutJS">BuiltWith.com</a></small></p>
        </section>

        <section>
          <h2><i class="fa fa-shopping-cart"></i> Hva tilbyr Knockout?</h2>
          <ul>
            <li>Frikobling av forretningslogikk fra DOM-en.</li>
          </ul>
        </section>

        <section>
          <h2><i class="fa fa-warning"></i> Nettleserstøtte</h2>
          <ul>
            <li>Alle moderne nettlesere og IE6+.</li>
          </ul>
        </section>

        <section>
          <h2><i class="fa fa-cubes"></i> Knockout-komponenter</h2>
          <ul>
            <li>View</li>
            <li>View Model</li>
            <li>Observable</li>
            <li>Declarative Binding</li>
          </ul>
        </section>

        <section>
          <h2><i class="fa fa-file-code-o"></i> Hello World-eksempel</h2>
          <p>Hva skal til ...?</p>
<pre class="fragment"><code>&lt;!DOCTYPE html&gt;
&lt;html&gt;
  &lt;head&gt;
    <strong>&lt;script src=&quot;knockout.js&quot;&gt;&lt;/script&gt;</strong>
  &lt;/head&gt;
  &lt;body&gt;
    &lt;input type=&quot;text&quot; <strong>data-bind=&quot;value: name, valueUpdate: 'keyup'&quot;</strong>&gt;
    &lt;p&gt;What's up, &lt;span <strong>data-bind=&quot;text: name&quot;</strong>&gt;&lt;/span&gt;?&lt;/p&gt;
    <strong>&lt;script src=&quot;app.js&quot;&gt;&lt;/script&gt;</strong>
  &lt;/body&gt;
&lt;/html&gt;</code></pre>
        </section>

        <section>
          <p>... og så må vi ikke glemme <code>app.js</code>:</p>
<pre><code data-trim class="hljs javascript">var helloWorldViewModel = { <strong>name: ko.observable()</strong> };
<strong>ko.applyBindings</strong>(helloWorldViewModel);</code></pre>
        </section>

        <section data-background="assignments.jpg" data-background-transition="slide">
          <h2><i class="fa fa-pencil"></i> Oppgaver</h2>
        </section>

      </section>

      <section class="stack">
        <section data-background="#e48632" class="text-white">
          <img src="grunt-logo.png" alt="Grunt logo" class="no-border" style="width: 30%" />
          <blockquote class="fragment">The JavaScript Task Runner</blockquote>
        </section>

        <section>
          <h2>Slide #2</h2>
        </section>

      </section>

      <section class="stack">
        <section data-background="#D598C4" class="text-white">
          <img src="jasmine-logo.svg" alt="Jasmine logo" class="no-border" style="width: 50%" />
          <blockquote class="fragment">Behavior-Driven JavaScript</blockquote>
        </section>

        <section>
          <h2>Slide #2</h2>
        </section>

      </section>

      <section>
        <h2>Minifisering og konkatenering</h2>
        <ul>
          <li><a href="https://github.com/mishoo/UglifyJS2">UglifyJS 2</a>:<br><code>&gt; uglifyjs file1.js file2.js&nbsp;\<br>
         -o foo.min.js \<br>
         -p 5 -c -m</code></li>
         <li><a href="http://yui.github.io/yuicompressor/">YUI Compressor</a>:<br><code>&gt; java -jar yuicompressor-x.y.z.jar \<br>myfile.js -o myfile-min.js</code></li>
         <li><a href="https://github.com/google/closure-compiler">Closure Compiler</a>:<br><code>&gt; java -jar compiler.jar \<br>--js_output_file=out.js \<br>in1.js in2.js in3.js</code></li>
        </ul>
      </section>

      <section>
        <h2>Kvalitetssikring av koden</h2>
        <ul>
          <li><a href="https://github.com/reid/node-jslint">JSLint (node.js)</a>:<br><code>&gt; jslint lib/color.js lib/reporter.js</code></li>
          <li><a href="">jshint</a>:<br><code>&gt; jshint fil1.js<br>
          fil1.js: line 110, col 4, Unnecessary semicolon.<br>
          <br>
          1 error</code></li>
          <li>Dette sikrer kun at det ikke er noen åpenbare feil i koden, men finner ikke logiske feil.</li>
          <li>Kan være veldig til hjelp om man opplever helt merkelige feil.</li>
        </ul>
      </section>

      <section>
        <h1>Konferanser</h1>
        <a href="http://lanyrd.com/topics/javascript/">http://lanyrd.com/topics/javascript/</a>
      </section>

    </div>
  </div>

  <script src="../revealjs/lib/js/head.min.js"></script>
  <script src="../revealjs/js/reveal.min.js"></script>
  <script src="../highlight/highlight.pack.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.22/angular.min.js"></script>
  <script>
    Reveal.initialize({
      controls: true,
      backgroundTransition: 'slide',
      transition: 'linear'
    });
    hljs.initHighlightingOnLoad();
  </script>
</body></html>