@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700);
@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css);

html {
  font-family: 'Open Sans', Arial;
}

.reveal ul li, .reveal ol li, .reveal p {
  padding-top: .5em;
}

.reveal code {
  margin-bottom: 2em;
}

input[type=text] {
  display: inline-box;
  padding: 10px;
  font-size: 0.7em;
  margin-bottom: 10px;
}

.reveal section img.no-border {
  border: none;
  box-shadow: none;
  background: none;
}

.hidden {
  display: none;
}

.text-muted {
  opacity: 0.3;
}

.reveal .text-small {
  font-size: 0.8em;
}

.reveal h1, .reveal h2, .reveal h3 {
  font-family: 'Open Sans', Arial;
}

.reveal h2 {
  font-size: 1.5em;
}

.reveal h3 {
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.3em;
}

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0; }

.reveal table th {
  font-weight: bold; }

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid; }

.reveal table tr:last-child td {
  border-bottom: none; }

.reveal .text-white * {
  color: #fff;
}

.reveal .text-mesan *, .reveal .text-mesan {
  color: #c4101f;
}

.reveal .fa {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.reveal .fa-warning {
  color: orange;
}

.img-circle {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border-radius: 50%;
}

.img-askew {
}

.img-askew:hover {
  -ms-transform: rotate(15deg); /* IE 9 */
  -webkit-transform: rotate(15deg); /* Chrome, Safari, Opera */
  transform: rotate(15deg);
}

.img-person {
  width: 20%;
}
